logs/
dump/
outputs/
flagged/
*.egg-info
__pycache__
*.zip
*.ckpt
*.mp4
*.pth
.ipynb_checkpoints/
src/
logs
.vscode/
im-examples/
datasets
scratch/
*.pkl
fim_dataset/
*.ipynb
lightning_logs/
*_dataset/
*.png
eval_outputs*
/*dataset
plots/